
p.internal { margin: 0 !important; 
    font-size: 1em;
    font-weight: normal;
    text-align: left;
    border-bottom: 2px solid red;
    padding: 0em;
}

p.external { margin: 0 !important; 
    font-size: 1em;
    font-weight: normal;
    text-align: left;
    border-bottom: 2px solid black;
    padding: 0em;
}
.inputCSS input{
    margin-bottom: 0em
}
ul.first{
    list-style-type: none;
    margin-bottom: 1.5em;
    margin-top: 0.5em

}
li.first {
    margin-bottom: 0.5em;
    display: block;
    width: 350px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;    
}
ul.second{
    list-style-type: none;
    padding-left: 2em;

}
li.second {
    margin-bottom: 0.5em;
    display: block;
    width: 300px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;      
}
ul.radio{
    list-style-type: none;
}
ul#radio li{
    display:inline;
}

ul {
    line-height:100%
}

li {
    margin:0 0 2px 0;
}