
p.internal { margin: 0 !important; 
    text-align: center;
    border:3px; 
    border-style:solid; 
    border-color:#FF0000; 
    padding: 0em;"
}

p.external { margin: 0 !important; 
    text-align: center;
    border:3px; 
    border-style:solid; 
    border-color:#000000; 
    padding: 0em;"
}
.inputCSS input{
    margin-bottom: 0em
}
ul.first{
    list-style-type: none;

}
li.first {
    margin-bottom: 0.5em;
    display: block;
    width: 350px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;    
}
ul.second{
    list-style-type: none;
    padding-left: 2em;

}
li.second {
    margin-bottom: 0.5em;
    display: block;
    width: 300px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;      
}
ul.radio{
    list-style-type: none;
}
ul#radio li{
    display:inline;
}

ul {
    line-height:100%
}

li {
    margin:0 0 2px 0;
}