<form action="{{ url_for('eventAdd') }}" method="post" id="eventAdd">
    <input id="csrf_token" name="csrf_token" type="hidden" value="ImM4YjlkODBkMTJjNzE2NmMwMTk2NDUwYTNmYzAwMjgzNjAwOTMyYTci.XAtZKA.xR9y4FxL-8VitbM8uWqrHr6X4_4"> 
    <div class="cell auto">     
        <label for="date">Date</label>
        <input id="date" name="date" placeholder="Webinars leave blank" required size="500" type="text" value="">   

        <label for="region">Region</label>
        <select id="region" name="region" required>
                <option disabled>─────SWSO─────</option>
                        <option value="NTXSelect">NTX Select</option>
                        <option value="STXSelect">STX Select</option>
                        <option value="gulfSelect">Gulf States Select</option>
                        <option value="okarSelect">OKAR Select</option>
                <option disabled>─────SESO─────</option>
                        <option value="atlantaSelect">Atlanta Select</option>
                        <option value="carolinaSelect">Carolinas Select</option>
                        <option value="floridaSelect">Florida Select</option>
                        <option value="peachSelect">Peach State Select</option>
                        <option value="tnSelect">TENN Select</option>
                <option disabled>─────STO─────</option>
                        <option value="mSouthTerritory">MidSouth Territory</option>
                        <option value="carolinaTerritory">Carolinas Territory</option>
                        <option value="floridaTerritory">Florida Territory</option>
                        <option value="gaTNSelect">GA TN Territory</option>
                        <option value="nTXTerritory">NTX Territory</option>
                        <option value="sTXTerritory">STX Territory</option>
                        <option value="southVelocity">South Velocity</option>                    
        </select>  

        <label for="arch">Architecture</label>
        <select id="arch" name="arch" required>
                <option value="EN">EN</option>
                <option value="SEC">SEC</option>
                <option value="DC">DC</option>
                <option value="COLLAB">COLLAB</option>
                <option value="APP">APP</option>                 
        </select>

        <label for="city">City</label>
        <input id="city" name="city" placeholder="Dallas" required size="500" type="text" value="">   

        <label for="address">Address</label>
        <input id="address" name="address" placeholder="1234 ACME Blvd, Dallas, TX 75070" required size="500" type="text" value="">   

        <label for="summary">Summary</label>
        <input id="summary" name="summary" placeholder="Security training - NGFW & NGIPS" required size="500" type="text" value="">   

        <label for="content">Content</label>
        <select id="content" name="content" required>
                <option value="overview">Overview</option>
                <option value="technical">Technical</option>               
        </select>

        <label for="registration">Registration Link</label>
        <input id="reg" name="reg" placeholder="URL" required size="500" type="text" value="">   

        <label for="email">Email Template File</label>
        <input id="email" name="email" placeholder="Box Link to .eml file" required size="500" type="text" value="">  

        <label for="exampleFileUpload" class="button">Upload File</label>
        <input type="file" id="exampleFileUpload" class="show-for-sr">


        <input class="success button" id="submit" name="submit" type="submit" value="Update">

            </div>
          </form>