{% extends "base.html" %}

{% block content %}



    <div class="grid-container">
       <!-- <div class="grid-x grid-padding-x">
           <div class="large-12 cell">
            <h1>{{ title }}</h1>
          </div>
        </div>-->

        <div class="large reveal" id="exampleModal1" data-reveal>
                    <p>Not being used right now</p>
            <button class="close-button" data-close aria-label="Close modal" type="button">
                    <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <button type="button" class="button" data-open="exampleModal1">View Email Layout</button>

        <div class="grid-x grid-margin-x">
            <div class="medium-10 large-10 small-12 cell">
                    <h2>Add Events / Training</h2> 
                    {% include 'eventAddForm.html' %}

            </div>
            <div class="medium-10 large-10 small-12 cell">
                    <h2>List of Events</h2> 
                    {% include 'eventRemoveForm.html' %}
            </div>

        </div>
    </div>
        
        {% endblock %}


    {% block javascript %}
       <!--  needs to be pure js, not jquery   <script src={{ url_for('static', filename='allForms.js') }}></script> -->
       {% include 'jQuery.html' %}
       <script>
           $(document).ready( function () {
                $('#eventTable').DataTable({
                    fixedHeader: true,
                    "pageLength": 20,
                    "scrollX": true
                   //not compatible with fixed header "scrollY": "500px",

                });

                $('#date').fdatepicker();
                } );
       </script>
    {% endblock %}        

