<form action="{{ url_for('eventRemove') }}" method="post" id="eventRemove">    
        <h2>Debug to removeForm</h2>
        <table style="width:100%;">
                <tbody>
                {% if eventList %}
        <!-- Header  --><tr>

                                <th>Region</th>
                                <th>Date</th>
                                <th>City</th>
                                <th>Address</th>
                                <th>Architecture</th>
                                <th>Summary</th>
                                <th>Content</th>
                                <th>Registration</th>
                                <th>Email Template</th>

                        </tr>
                        


                        {% for i in eventList %}
        <!-- Body    --><tr>

                                <td>{{ i.region }}</td>
                                <td>{{ i.date }}</td>
                                <td>{{ i.city }}</td>
                                <td>{{ i.address }}</td>
                                <td>{{ i.arch }}</td>
                                <td>{{ i.summary }}</td>
                                <td>{{ i.content }}</td>
                                <td>{{ i.reg }}</td>
                                <td>{{ i.email }}</td>

                                        
                                
                        </tr> 
                {% endif %}
                        {% endfor %}               
                </tbody>
        </table>

</form>


<!--

        <p class="external"><strong>news</strong></p>
        {% for i in archList %}
        {% if i.category == 'news' %}
                <ul class="first">
                <li class="first"><input type="checkbox" name="rowID" value="{{ i.rowID }}"> - {{ i.bullet }}   --  <strong style="font-size:70%">{{ i.date }} </strong></li>
                {% if i.subBullet1 %}
                        <ul class="second">
                        <li>{{ i.subBullet1 }}  {{ i.sb1Link }}</li>
                        </ul>
                {% endif %}
                {% if i.subBullet2 %}
                        <ul class="second">
                        <li>...</li>
                        </ul>
                {% endif %}                                        
                </ul>
        {% endif %}
        
        {% endfor %}

        <p class="external"><strong>Demonstration</strong></p>
        {% for i in archList %}
        {% if i.category == 'demo' %}
        <ul class="first">
                <li class="first"><input type="checkbox" name="rowID" value="{{ i.rowID }}"> - {{ i.bullet }}   --  <strong style="font-size:70%">{{ i.date }} </strong></li>
                {% if i.subBullet1 %}
                        <ul class="second">
                        <li>{{ i.subBullet1 }}  {{ i.sb1Link }}</li>
                        </ul>
                {% endif %}
                {% if i.subBullet2 %}
                        <ul class="second">
                        <li>...</li>
                        </ul>
                {% endif %}                                        
                </ul>
        {% endif %}
        
        {% endfor %}

        <p class="external"><strong>Services</strong></p>
        {% for i in archList %}
        {% if i.category == 'services' %}
        <ul class="first">
                <li class="first"><input type="checkbox" name="rowID" value="{{ i.rowID }}"> - {{ i.bullet }}   --  <strong style="font-size:70%">{{ i.date }} </strong></li>
                {% if i.subBullet1 %}
                        <ul class="second">
                        <li>{{ i.subBullet1 }}  {{ i.sb1Link }}</li>
                        </ul>
                {% endif %}
                {% if i.subBullet2 %}
                        <ul class="second">
                        <li>...</li>
                        </ul>
                {% endif %}                                        
                </ul>
        {% endif %}
        
        {% endfor %}

        <p class="internal"><strong>EA</strong></p>
        {% for i in archList %}
        {% if i.category == 'ea' %}
        <ul class="first">
                <li class="first"><input type="checkbox" name="rowID" value="{{ i.rowID }}"> - {{ i.bullet }}   --  <strong style="font-size:70%">{{ i.date }} </strong></li>
                {% if i.subBullet1 %}
                        <ul class="second">
                        <li>{{ i.subBullet1 }}  {{ i.sb1Link }}</li>
                        </ul>
                {% endif %}
                {% if i.subBullet2 %}
                        <ul class="second">
                        <li>...</li>
                        </ul>
                {% endif %}                                        
                </ul>
        {% endif %}
        
        {% endfor %}

        <p class="internal"><strong>Capital</strong></p>
        {% for i in archList %}
        {% if i.category == 'capital' %}
        <ul class="first">
                <li class="first"><input type="checkbox" name="rowID" value="{{ i.rowID }}"> - {{ i.bullet }}   --  <strong style="font-size:70%">{{ i.date }} </strong></li>
                {% if i.subBullet1 %}
                        <ul class="second">
                        <li>{{ i.subBullet1 }}  {{ i.sb1Link }}</li>
                        </ul>
                {% endif %}
                {% if i.subBullet2 %}
                        <ul class="second">
                        <li>...</li>
                        </ul>
                {% endif %}                                        
                </ul>
        {% endif %}
        
        {% endfor %}                            

        <p class="internal"><strong>Promotions</strong></p>
        {% for i in archList %}
        {% if i.category == 'promo' %}
        <ul class="first">
                <li class="first"><input type="checkbox" name="rowID" value="{{ i.rowID }}"> - {{ i.bullet }}   --  <strong style="font-size:70%">{{ i.date }} </strong></li>
                {% if i.subBullet1 %}
                        <ul class="second">
                        <li>{{ i.subBullet1 }}  {{ i.sb1Link }}</li>
                        </ul>
                {% endif %}
                {% if i.subBullet2 %}
                        <ul class="second">
                        <li>...</li>
                        </ul>
                {% endif %}                                        
                </ul>
        {% endif %}
        
        {% endfor %}


        <p class="internal"><strong>Proposals - Unsolicited BoMs</strong></p>
        {% for i in archList %}
        {% if i.category == 'proposal' %}
        <ul class="first">
                <li class="first"><input type="checkbox" name="rowID" value="{{ i.rowID }}"> - {{ i.bullet }}   --  <strong style="font-size:70%">{{ i.date }} </strong></li>
                {% if i.subBullet1 %}
                        <ul class="second">
                        <li>{{ i.subBullet1 }}  {{ i.sb1Link }}</li>
                        </ul>
                {% endif %}
                {% if i.subBullet2 %}
                        <ul class="second">
                        <li>...</li>
                        </ul>
                {% endif %}                                        
                </ul>
        {% endif %}
        
        {% endfor %}                            

        <p class="internal"><strong>SPIFFs</strong></p>
        {% for i in archList %}
        {% if i.category == 'spiff' %}
        <ul class="first">
                <li class="first"><input type="checkbox" name="rowID" value="{{ i.rowID }}"> - {{ i.bullet }}   --  <strong style="font-size:70%">{{ i.date }} </strong></li>
                {% if i.subBullet1 %}
                        <ul class="second">
                        <li>{{ i.subBullet1 }}  {{ i.sb1Link }}</li>
                        </ul>
                {% endif %}
                {% if i.subBullet2 %}
                        <ul class="second">
                        <li>...</li>
                        </ul>
                {% endif %}                                        
                </ul>
        {% endif %}
        
        {% endfor %}     
        <input class="button round alert" type="submit" value="Delete" id="submit">                       
</form>
-->