<form action="{{ url_for('eventRemove') }}" method="post" id="eventRemove">    
        <div class="table-scroll">
        <table id="eventTable" style="width: 100%;">
                <thead>
                {% if eventList %}
        <!-- Header  --><tr>
                                <th style="width:5%;">Remove</th>
                                <th style="width:5%;">Region</th>
                                <th style="width:5%;">Date</th>
                                <th style="width:5%;">Architecture</th>
                                <th style="width:40%;">Summary</th>
                                <th style="width:5%;">City</th>
                                <th style="width:30%;">Address</th>
                                <th style="width:5%;">Content</th>
                                <th style="width:5%;">Registration</th>
                                <th style="width:5%;">Email Template</th>

                        </tr>
                        
                </thead>
                <tbody>
                        {% for i in eventList %}
        <!-- Body    --><tr>
                        
                        
                                <td ><input type="checkbox" name="rowID" value="{{ i.rowID }}"></td>
                                <td >{{ i.region }}</td>
                                <td >{{ i.date }}</td>
                                <td >{{ i.arch }}</td>
                                <td >{{ i.summary }}</td>
                                <td >{{ i.city }}</td>
                                <td >{{ i.address }}</td>
                                <td >{{ i.content }}</td>
                                <td >{{ i.reg }}</td>
                                <td >{{ i.email }}</td>

                                        
                                
                        </tr> 
                        {% endfor %} 
                {% endif %}
                                      
                </tbody>
        </table>
        </div>
        <input class="button round alert" type="submit" value="Delete" id="submit">
</form>


