<form action="{{ url_for('eventRemove') }}" method="post" id="eventRemove">    

        <table id="eventTable" class="display nowrap compact" style="width:100%">
                <thead>
                {% if eventList %}
        <!-- Header  --><tr>
                                <th>Remove</th>
                                <th>Region</th>
                                <th>Date</th>
                                <th>Architecture</th>
                                <th>Summary</th>
                                <th>City</th>
                                <th>Address</th>
                                <th>Content</th>
                                <th>Registration</th>
                                <th>Email Template</th>

                        </tr>
                        
                </thead>
                <tbody>
                        {% for i in eventList %}
        <!-- Body    --><tr>
                        
                        
                                <td ><input type="checkbox" name="rowID" value="{{ i.rowID }}"></td>
                                <td >{{ i.region }}</td>
                                <td >{{ i.date }}</td>
                                <td >{{ i.arch }}</td>
                                <td >{{ i.summary }}</td>
                                <td >{{ i.city }}</td>
                                <td >{{ i.address }}</td>
                                <td >{{ i.content }}</td>
                                <td >{{ i.reg }}</td>
                                <td >{{ i.email }}</td>

                                        
                                
                        </tr> 
                        {% endfor %} 
                {% endif %}
                                      
                </tbody>
        </table>
        <input class="button round alert" type="submit" value="Delete" id="submit">
</form>


