            <form action="" method="post" novalidate>
            {{ form.hidden_tag() }} 
            <div class="cell auto">   
                {{ form.internal.label }}
                {{ form.internal(class="radio", id="radio") }} 
                {% for error in form.internal.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}      
                {{ form.category.label }}
                {{ form.category() }}  
                {% for error in form.category.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}                               
                <div class="grid-x grid-margin-x">
                        <div class="large-8 cell">
                                {{ form.bullet.label }}
                                {{ form.bullet(size=32, placeholder="Main Bullet Point") }}
                                {% for error in form.bullet.errors %}
                                <span style="color: red;">[{{ error }}]</span>
                                {% endfor %}                                    
                            </div>
                        <div class="large-4 cell">
                                {{ form.bLink.label }}
                                {{ form.bLink(size=10) }}
                                 
                            </div>                                   
                    </div>
                    <div class="grid-x grid-margin-x">
                            <div class="large-1 cell">
                            <div class="large-8 cell">
                                    {{ form.subBullet1.label }}
                                    {{ form.subBullet1(size=32, placeholder="Optional SubBullet") }}
                                    {{ form.subBullet2.label }}
                                    {{ form.subBullet2(size=32, placeholder="Optional SubBullet") }}
                                    {{ form.subBullet3.label }}
                                    {{ form.subBullet3(size=32, placeholder="Optional SubBullet") }}
                                    {{ form.subBullet4.label }}
                                    {{ form.subBullet4(size=32, placeholder="Optional SubBullet") }}
                                    {{ form.subBullet5.label }}
                                    {{ form.subBullet5(size=32, placeholder="Optional SubBullet") }}                                
                                </div>
                            <div class="large-3 cell">
                                    {{ form.sb1Link.label }}
                                    {{ form.sb1Link(size=32) }}
                                    {{ form.sb2Link.label }}
                                    {{ form.sb2Link(size=32) }}
                                    {{ form.sb3Link.label }}
                                    {{ form.sb3Link(size=32) }}
                                    {{ form.sb4Link.label }}
                                    {{ form.sb4Link(size=32) }}
                                    {{ form.sb5Link.label }}
                                    {{ form.sb5Link(size=32) }}
                                
                                </div>                                   
                        </div>
                        {{ form.submit(class="success button") }}

                    </div>
                  </form>
