            <form action="" method="post" novalidate>
            {{ form.hidden_tag() }} 
            <div class="cell auto">       
                {{ form.category.label }}
                {{ form.category() }}  
                {% for error in form.category.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}                               
                <div class="grid-x grid-margin-x">
                        <div class="large-9 cell">
                                {{ form.bullet.label }}
                                {{ form.bullet(size=500, placeholder="Main Bullet Point") }}
                                {% for error in form.bullet.errors %}
                                <span style="color: red;">[{{ error }}]</span>
                                {% endfor %}                                    
                            </div>
                        <div class="large-3 cell">
                                {{ form.bLink.label }}
                                {{ form.bLink(size=10) }}
                                 
                            </div>                                   
                    </div>
                    <div class="grid-x grid-margin-x">
                            <div class="large-1 small-1 cell"></div>
                            <div class="large-8 small-11 cell">
                                    {{ form.subBullet1.label }}
                                    {{ form.subBullet1(size=32, placeholder="Optional SubBullet") }}
                              
                                </div>
                            <div class="large-3 small-12 cell">
                                    {{ form.sb1Link.label }}
                                    {{ form.sb1Link(size=32) }}
                                
                                </div>   
                                <div class="large-1 small-1 cell"></div>
                                <div class="large-8 small-11 cell">

                                        {{ form.subBullet2.label }}
                                        {{ form.subBullet2(size=32, placeholder="Optional SubBullet") }}
                             
                                    </div>
                                <div class="large-3 small-12 cell">

                                        {{ form.sb2Link.label }}
                                        {{ form.sb2Link(size=32) }}

                                    
                                    </div>    
                                    <div class="large-1 small-1 cell"></div>
                                    <div class="large-8 small-11 cell">
                                            {{ form.subBullet3.label }}
                                            {{ form.subBullet3(size=32, placeholder="Optional SubBullet") }}
                             
                                        </div>
                                    <div class="large-3 small-12 cell">

                                            {{ form.sb3Link.label }}
                                            {{ form.sb3Link(size=32) }}

                                        
                                        </div>    
                                        <div class="large-1 small-1 cell"></div>
                                        <div class="large-8 small-11 cell">

                                                {{ form.subBullet4.label }}
                                                {{ form.subBullet4(size=32, placeholder="Optional SubBullet") }}
                              
                                            </div>
                                        <div class="large-3 small-12 cell">

                                                {{ form.sb4Link.label }}
                                                {{ form.sb4Link(size=32) }}

                                            
                                            </div>    
                                            <div class="large-1 small-1 cell"></div>
                                            <div class="large-8 small-11 cell">

                                                    {{ form.subBullet5.label }}
                                                    {{ form.subBullet5(size=32, placeholder="Optional SubBullet") }}                                
                                                </div>
                                            <div class="large-3 small-12 cell">
  
                                                    {{ form.sb5Link.label }}
                                                    {{ form.sb5Link(size=32) }}
                                                
                                                </div> 
                                                <div class="large-1 small-1 cell"></div>
                                                <div class="large-2 small-12 cell">
                                                        {{ form.submit(class="success button") }}
                                                </div>   
                                                <div class="large-9 small-9 cell"></div>                                          
                                            
                                        
                        </div>
                        

                    </div>
                  </form>
