{% extends "base.html" %}

{% block content %}

<div class="grid-container">
    <div class="grid-x grid-margin-x">
        <div class="large-3 cell"></div>
        <div class="large-6 small-12 cell">
            <h1>{{ title }}</h1>
            <p>
                This will eventually be the ArchWeek server to communicate with SmartSheets and WebEx Teams
                
            </p>
            <p>
                
            </p>
        </div>
        <div class="large-3 cell"></div>
    </div>

</div>



{% endblock %}
