{% extends "base.html" %}

{% block content %}



    <div class="grid-container">
        <div class="grid-x grid-padding-x">
          <div class="large-12 cell">
            <h1>{{ title }}</h1>
          </div>
        </div>



        <div class="grid-x grid-margin-x">
                <div class="cell auto"></div>
                <div class="cell small-6">
                        <form action="" method="post" novalidate>
                                {{ form.hidden_tag() }} 
    
                                {{ form.username.label }}
                                {{ form.username(size=32, placeholder="username") }}
                                {% for error in form.username.errors %}
                                <span style="color: red;">[{{ error }}]</span>
                                {% endfor %}
    
    
                                {{ form.password.label }}
                                {{ form.password(size=32) }}
                                {% for error in form.password.errors %}
                                <span style="color: red;">[{{ error }}]</span>
                                {% endfor %}
    
    
                                {{ form.testField.label }}
                                {{ form.testField(size=32) }}

                                {{ form.radioExample.label }}
                                {{ form.radioExample() }}

                                {{ form.remember_me() }} {{ form.remember_me.label }}
                                <p>{{ form.submit(class="success button") }}</p>
    
    
                          </form>
                </div>
                <div class="cell auto"></div>
              </div>




        </div>
        
        {% endblock %}

