{% extends "base.html" %}

{% block content %}



    <div class="grid-container">
        <div class="grid-x grid-padding-x">
          <div class="large-12 cell">
            <h1>{{ title }}</h1>
          </div>
        </div>
  
        <table>
            <tr>
                  <td valign="top">
                  </td>
                  <td valign="top">                
                      <form action="" method="post" novalidate>
                            {{ form.hidden_tag() }} 

                            {{ form.username.label }}
                            {{ form.username(size=32, placeholder="username") }}
                            {% for error in form.username.errors %}
                            <span style="color: red;">[{{ error }}]</span>
                            {% endfor %}


                            {{ form.password.label }}
                            {{ form.password(size=32) }}
                            {% for error in form.password.errors %}
                            <span style="color: red;">[{{ error }}]</span>
                            {% endfor %}

                            <p>
                            {{ form.testField.label }}</br>
                            {{ form.testField(size=32) }}</br>
                            </p>
                            <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
                            <p>{{ form.submit(class="success button") }}</p>


                      </form>
                  </td>
                  <td valign="top">
                    </td>
              
              
           
            </tr>
        </table>
        </div>
        
        {% endblock %}

