<form action="{{ url_for('remove') }}" method="post" id="remove">    

        <p class="external"><strong>News</strong></p>
        {% for i in archList %}
        {% if i.category == 'news' %}
                <ul class="first">
                <li class="first"><input type="checkbox" name="rowID" value="{{ i.rowID }}"> <strong style="font-size:50%">[ {{ i.date }} ] </strong>- {{ i.bullet }}</li>
                {% if i.subBullet1 %}
                        <ul class="second">
                        <li class="second">{{ i.subBullet1 }}</li>
                        </ul>
                {% endif %}
                {% if i.subBullet2 %}
                        <ul class="second">
                        <li class="second">...</li>
                        </ul>
                {% endif %}                                        
                </ul>
        {% endif %}
        
        {% endfor %}

        <p class="external"><strong>Demonstration</strong></p>
        {% for i in archList %}
        {% if i.category == 'demo' %}
        <ul class="first">
                <li class="first"><input type="checkbox" name="rowID" value="{{ i.rowID }}"> - {{ i.bullet }}   --  <strong style="font-size:70%">{{ i.date }} </strong></li>
                {% if i.subBullet1 %}
                        <ul class="second">
                        <li class="second">{{ i.subBullet1 }}</li>
                        </ul>
                {% endif %}
                {% if i.subBullet2 %}
                        <ul class="second">
                        <li class="second">...</li>
                        </ul>
                {% endif %}                                        
                </ul>
        {% endif %}
        
        {% endfor %}

        <p class="external"><strong>Services</strong></p>
        {% for i in archList %}
        {% if i.category == 'services' %}
        <ul class="first">
                <li class="first"><input type="checkbox" name="rowID" value="{{ i.rowID }}"> - {{ i.bullet }}   --  <strong style="font-size:70%">{{ i.date }} </strong></li>
                {% if i.subBullet1 %}
                        <ul class="second">
                        <li class="second">{{ i.subBullet1 }}</li>
                        </ul>
                {% endif %}
                {% if i.subBullet2 %}
                        <ul class="second">
                        <li class="second">...</li>
                        </ul>
                {% endif %}                                        
                </ul>
        {% endif %}
        
        {% endfor %}

        <p class="internal"><strong>EA</strong></p>
        {% for i in archList %}
        {% if i.category == 'ea' %}
        <ul class="first">
                <li class="first"><input type="checkbox" name="rowID" value="{{ i.rowID }}"> - {{ i.bullet }}   --  <strong style="font-size:70%">{{ i.date }} </strong></li>
                {% if i.subBullet1 %}
                        <ul class="second">
                        <li class="second">{{ i.subBullet1 }}</li>
                        </ul>
                {% endif %}
                {% if i.subBullet2 %}
                        <ul class="second">
                        <li class="second">...</li>
                        </ul>
                {% endif %}                                        
                </ul>
        {% endif %}
        
        {% endfor %}

        <p class="internal"><strong>Capital</strong></p>
        {% for i in archList %}
        {% if i.category == 'capital' %}
        <ul class="first">
                <li class="first"><input type="checkbox" name="rowID" value="{{ i.rowID }}"> - {{ i.bullet }}   --  <strong style="font-size:70%">{{ i.date }} </strong></li>
                {% if i.subBullet1 %}
                        <ul class="second">
                        <li class="second">{{ i.subBullet1 }}</li>
                        </ul>
                {% endif %}
                {% if i.subBullet2 %}
                        <ul class="second">
                        <li class="second">...</li>
                        </ul>
                {% endif %}                                        
                </ul>
        {% endif %}
        
        {% endfor %}                            

        <p class="internal"><strong>Promotions</strong></p>
        {% for i in archList %}
        {% if i.category == 'promo' %}
        <ul class="first">
                <li class="first"><input type="checkbox" name="rowID" value="{{ i.rowID }}"> - {{ i.bullet }}   --  <strong style="font-size:70%">{{ i.date }} </strong></li>
                {% if i.subBullet1 %}
                        <ul class="second">
                        <li class="second">{{ i.subBullet1 }}</li>
                        </ul>
                {% endif %}
                {% if i.subBullet2 %}
                        <ul class="second">
                        <li class="second">...</li>
                        </ul>
                {% endif %}                                        
                </ul>
        {% endif %}
        
        {% endfor %}


        <p class="internal"><strong>Proposals - Unsolicited BoMs</strong></p>
        {% for i in archList %}
        {% if i.category == 'proposal' %}
        <ul class="first">
                <li class="first"><input type="checkbox" name="rowID" value="{{ i.rowID }}"> - {{ i.bullet }}   --  <strong style="font-size:70%">{{ i.date }} </strong></li>
                {% if i.subBullet1 %}
                        <ul class="second">
                        <li class="second">{{ i.subBullet1 }}</li>
                        </ul>
                {% endif %}
                {% if i.subBullet2 %}
                        <ul class="second">
                        <li class="second">...</li>
                        </ul>
                {% endif %}                                        
                </ul>
        {% endif %}
        
        {% endfor %}                            

        <p class="internal"><strong>SPIFFs</strong></p>
        {% for i in archList %}
        {% if i.category == 'spiff' %}
        <ul class="first">
                <li class="first"><input type="checkbox" name="rowID" value="{{ i.rowID }}"> - {{ i.bullet }}   --  <strong style="font-size:70%">{{ i.date }} </strong></li>
                {% if i.subBullet1 %}
                        <ul class="second">
                        <li class="second">{{ i.subBullet1 }}</li>
                        </ul>
                {% endif %}
                {% if i.subBullet2 %}
                        <ul class="second">
                        <li class="second">...</li>
                        </ul>
                {% endif %}                                        
                </ul>
        {% endif %}
        
        {% endfor %}  
        <div class="grid-x grid-margin-x">
                        <div class="medium-1 large-1 small-12 cell"></div> 
                <div class="medium-3 large-3 small-12 cell">
                        <input class="button round alert" type="submit" value="Delete" id="submit">
                </div>  
                <div class="medium-7 large-7 small-12 cell">
                        <button class="button" data-open="exampleModal1">View Email Layout</button>
                </div>    
                <div class="medium-1 large-1 small-12 cell"></div>     
        </div>                
</form>