{% extends "base.html" %}

{% block content %}



    <div class="grid-container">
        <div class="grid-x grid-padding-x">
          <div class="large-12 cell">
            <h1>{{ title }}</h1>
          </div>
        </div>



        <div class="grid-x grid-margin-x">
                <div class="medium-8 large-8 small-12 cell">
                        {% include 'form.html' %}
                </div>
                <div class="medium-4 large-4 small-12 cell">
                            <p>
                                Is this updating?
                                    {{ EN_list }}
                            </p>
                            

                            <p class="external"><strong>news</strong></p>
                            {% for i in EN_list %}
                                {% if i.category == 'news' %}
                                    <ul>
                                        <li>{{ i.bullet }}   --  <strong>{{ i.date }}  -- Row ID: {{ i['rowID'] }} </strong></li>
                                        {% if i.subBullet1 %}
                                            <ul>
                                                <li>{{ i.subBullet1 }}  {{ i.sb1Link }}</li>
                                            </ul>
                                        {% endif %}
                                    </ul>
                                {% endif %}
                                
                            {% endfor %}

                            <p class="external"><strong>Demonstration</strong></p>
                            {% for i in EN_list %}
                                {% if i.category == 'demo' %}
                                    <ul>
                                        <li>{{ i.bullet }}   --  <strong>{{   i.date }}  -- Row ID: {{ i.rowID }}  </strong></li>
                                        {% if i.subBullet1 %}
                                            <ul>
                                                <li>{{ i.subBullet1 }}  {{ i.sb1Link }}</li>
                                            </ul>
                                        {% endif %}
                                    </ul>
                                {% endif %}
                                
                            {% endfor %}

                            <p class="external"><strong>Services</strong></p>
                            {% for i in EN_list %}
                                {% if i.category == 'services' %}
                                    <ul>
                                        <li>{{ i.bullet }}   --  <strong>{{   i.date }}  -- Row ID: {{ i.rowID }}  </strong></li>
                                        {% if i.subBullet1 %}
                                            <ul>
                                                <li>{{ i.subBullet1 }}  {{ i.sb1Link }}</li>
                                            </ul>
                                        {% endif %}
                                    </ul>
                                {% endif %}
                                
                            {% endfor %}

                            <p class="internal"><strong>EA</strong></p>
                            {% for i in EN_list %}
                                {% if i.category == 'ea' %}
                                    <ul>
                                        <li>{{ i.bullet }}   --  <strong>{{   i.date }}  -- Row ID: {{ i.rowID }}  </strong></li>
                                        {% if i.subBullet1 %}
                                            <ul>
                                                <li>{{ i.subBullet1 }}  {{ i.sb1Link }}</li>
                                            </ul>
                                        {% endif %}
                                    </ul>
                                {% endif %}
                                
                            {% endfor %}

                            <p class="internal"><strong>Capital</strong></p>
                            {% for i in EN_list %}
                                {% if i.category == 'capital' %}
                                    <ul>
                                        <li>{{ i.bullet }}   --  <strong>{{   i.date }}  -- Row ID: {{ i.rowID }}  </strong></li>
                                        {% if i.subBullet1 %}
                                            <ul>
                                                <li>{{ i.subBullet1 }}  {{ i.sb1Link }}</li>
                                            </ul>
                                        {% endif %}
                                    </ul>
                                {% endif %}
                                
                            {% endfor %}                            

                            <p class="internal"><strong>Promotions</strong></p>
                            {% for i in EN_list %}
                                {% if i.category == 'promo' %}
                                    <ul>
                                        <li>{{ i.bullet }}   --  <strong>{{   i.date }}  -- Row ID: {{ i.rowID }}  </strong></li>
                                        {% if i.subBullet1 %}
                                            <ul>
                                                <li>{{ i.subBullet1 }}  {{ i.sb1Link }}</li>
                                            </ul>
                                        {% endif %}
                                    </ul>
                                {% endif %}
                                
                            {% endfor %}


                            <p class="internal"><strong>Proposals - Unsolicited BoMs</strong></p>
                            {% for i in EN_list %}
                                {% if i.category == 'proposal' %}
                                    <ul>
                                        <li>{{ i.bullet }}   --  <strong>{{   i.date }}  -- Row ID: {{ i.rowID }}  </strong></li>
                                        {% if i.subBullet1 %}
                                            <ul>
                                                <li>{{ i.subBullet1 }}  {{ i.sb1Link }}</li>
                                            </ul>
                                        {% endif %}
                                    </ul>
                                {% endif %}
                                
                            {% endfor %}                            

                            <p class="internal"><strong>SPIFFs</strong></p>
                            {% for i in EN_list %}
                                {% if i.category == 'spiff' %}
                                    <ul>
                                        <li>{{ i.bullet }}   --  <strong>{{   i.date }}  -- Row ID: {{ i.rowID }}  </strong></li>
                                        {% if i.subBullet1 %}
                                            <ul>
                                                <li>{{ i.subBullet1 }}  {{ i.sb1Link }}</li>
                                            </ul>
                                        {% endif %}
                                    </ul>
                                {% endif %}
                                
                            {% endfor %}                            





                </div>
                
              </div>




        </div>
        
        {% endblock %}

